.puck-area {
  width: 90%;
  height: 95%;

  display: grid;
  place-items: center;
  grid-template-areas:
    "pfp          empty"
    "projects     listed-projects"
    "technologies listed-technologies"
    "socials      listed-socials"
    ;
  
  grid-template-columns: 300px 900px;
  row-gap: 20px;

  // background-color: black;
}

.pfp-puck { grid-area: pfp; }
.profile-pic { width: 250px; }

.projects-puck { grid-area: projects; }
.technologies-puck { grid-area: technologies; }
.socials-puck { grid-area: socials; }

.topic {
  margin: 0;
  padding: 5px 20px 10px 20px;
  
  height: 80px;
  
  display: grid;
  place-items: center;
  
  font-size: 30px;
  font-family: "Pixel Font", 'Courier New', Courier, monospace;
  text-align: center;
  color: white;

  background-color: rgb(75, 75, 75);
}