.puck-area {
  width: 90%;
  height: 90%;

  display: grid;
  place-items: center;
  grid-template-areas:
    "pfp          empty"
    "projects     listed-projects"
    "technologies listed-technologies"
    "socials      listed-socials"
    ;
  
  grid-template-columns: 300px auto;

  // background-color: black;
}

.pfp-puck { grid-area: pfp; }
.projects-puck { grid-area: projects; }
.technologies-puck { grid-area: technologies; }
.socials-puck { grid-area: socials; }

.listed {
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 10px;
}

.projects { grid-area: listed-projects; }
.technologies { grid-area: listed-technologies; }
.socials { grid-area: listed-socials; }

.profile-pic {
  width: 200px;
}

.topic {
  margin: 0;
  padding: 5px 20px 10px 20px;
  
  height: 80px;
  
  display: grid;
  place-items: center;
  
  font-size: 30px;
  font-family: "Pixel Font", 'Courier New', Courier, monospace;
  text-align: center;
  color: white;

  background-color: rgb(75, 75, 75);
}