.artist {
  width: 120px;
  
  color: black;

  background-color: rgb(255, 244, 254);
  box-shadow: 5px 5px 10px black;
  border-radius: 80px;

  cursor: pointer;
}

.artist-logo {
  border-radius: 50%;
  padding: 10px;
}