$distanceOfButtonsFromProfilePic: 140px;
$transitionDuration: 1s;

.social-media-button {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  // Every button has its own "rotationLevel" as an inline CSS variable
  --amountOfButtonsShown: 4;
  --rotation: calc(var(--rotationLevel) * 360deg / var(--amountOfButtonsShown));
  rotate: var(--rotation);
  scale: 0;

  transition: $transitionDuration;
  z-index: 0;

  .image-button-container {
    animation: preventRotation 20s linear infinite;
    transition: $transitionDuration;
  }
}

@keyframes preventRotation {
  from {
    rotate: calc(var(--rotation) * -1);
  }

  to {
    rotate: calc(-360deg - var(--rotation));
  }
}

.active .social-media-button {
  scale: 1;

  .image-button-container {
    translate: $distanceOfButtonsFromProfilePic;
  }
}