.spinning-wheel-element-offset {
  --offset: calc(360deg / var(--amountOfElements));
  --initialDisplacement: calc(var(--offset) * var(--position));

  rotate: z calc(var(--offset) * var(--position));
}

.spinning-wheel-element {
  position: absolute;
  width: fit-content;
  height: fit-content;

  translate: var(--radius, 10px);
  animation: counterWheelSpin var(--rotationTime) linear 0s infinite;
}

@keyframes counterWheelSpin {
  from {
    rotate: z calc(0deg - var(--initialDisplacement));
  }

  to {
    rotate: z calc(0deg - var(--initialDisplacement) + -360deg * var(--counterclockwise));
  }
}