.spark {
  position: absolute;

  width: 5px;
  height: 5px;

  filter: blur(1px);
  background-color: #ffef83;
  box-shadow: 
    0px 0px 10px 5px #ffef83,
    0px 0px 70px 15px #ffef83,
    0px 0px 100px 25px #ffef83;
  border-radius: 50%;

  animation: 
    blink 1s ease-in-out 0s infinite alternate, 
    fall 6s linear;
}

@keyframes blink {
  0% {
    scale: 1;
  }

  100% {
    scale: 0.5; 
  }
}

@keyframes fall {
  0% {
    top: var(--startPointTop, 0%);
    left: var(--startPointLeft, 0%);
  }

  100% {
    top: calc(var(--startPointTop, 0%) + 200%);
    left: calc(var(--startPointLeft, 0%) + 200%);
  }
}