.listed-socials {
  grid-area: listed-socials;
  width: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 10px;
}

.social-logo {
  padding: 5px;
  
  height: 70px;

  background-color: white;
  vertical-align: middle;
}

.facebook-puck { background-color: #0037c1;  }
.instagram-puck { background-color: #0037c1; padding: 0px; }
.linkedin-puck { background-color: #0274b3; }