.spark-rain {
  position: absolute;

  width: 100%;
  height: 100%;
}

.spark-rain-container {
  position: relative;

  display: grid;
  place-items: center;

  width: 100%;
  height: 100%;

  overflow: hidden;
}