.home {
  position: relative;
  
  width: 90vw;
  height: 90vh;

  overflow: hidden;
  // overflow: auto;
}

.map {
  position: relative;

  width: fit-content;
  height: fit-content;
  
  min-width: 100%;
  min-height: 100%;
  
  padding: 400px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(0,212,255);
  background: radial-gradient(
    circle, 
    rgba(0,146,255,1) 0%, 
    rgba(6,73,163,1) 16%, 
    rgba(9,9,121,1) 35%, 
    rgba(2,0,36,1) 100%
    );
}