.spinning-wheel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  animation: spinWheel var(--rotationTime) linear 0s infinite;
}

@keyframes spinWheel {
  from {
    rotate: z 0deg;
  }

  to {
    rotate: z calc(360deg * var(--counterclockwise));
  }
}