.favorite-music {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Rampart One', cursive;
  font-size: 70px;
}

// TODO Remove middle bar
.title::before {
  content: "";
  position: absolute;

  left: 50%;
  translate: -50%;

  width: 2px;
  height: 500px;

  background-color: limegreen;
}

.artists-bar {
  position: relative;
  width: 90%;
  height: 200px;

  display: flex;
  align-items: center;
  gap: 20px;

  overflow-x: auto;
  overflow-y: hidden;

  // TODO Remove scrollbar visibility when artist bar is complete
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.spacer {
  flex-shrink: 0;

  height: 2px;
  width: 700px;
}