.spark {
  position: absolute;

  width: 5px;
  height: 5px;

  filter: blur(1px);
  background-color: #ffef83;
  box-shadow: 
    0px 0px 10px 5px #ffef83,
    0px 0px 70px 15px #ffef83,
    0px 0px 100px 25px #ffef83;
  border-radius: 50%;

  animation: 
    blink 1s ease-in-out 0s infinite alternate, 
    fall var(--timeToFall, 10s) linear 0s,
    tiltFalling 0.8s ease-in-out 0s infinite alternate;
}

@keyframes blink {
  0% {
    scale: 1;
  }

  100% {
    scale: 0.5; 
  }
}

@keyframes fall {
  0% {
    left: var(--startPointX, 0);
    top: var(--startPointY, 0);
  }

  100% {
    top: calc(var(--endPointX, 100%));
    left: calc(var(--endPointY, 100%));
  }
}

@keyframes tiltFalling {
  0% {
    translate: 0px;
  }

  100% {
    translate: 100px;
  }
}