.spark {
  position: absolute;

  left: var(--startPointX, 0);
  top: var(--startPointY, 0);

  translate: -50% -50%;

  width: 5px;
  height: 5px;

  background-color: var(--sparkColor);
  filter: blur(1px);
  box-shadow: 
    0px 0px 10px 5px var(--sparkColor),
    0px 0px 70px 15px var(--sparkColor),
    0px 0px 100px 25px var(--sparkColor);
  border-radius: 50%;

  animation: 
    blink 1s ease-in-out 0s infinite alternate,
    move var(--travelTime, 10s) linear 0s forwards,
    tiltWhileMoving 1.5s ease-in-out 0s infinite alternate
  ;
}

@keyframes blink {
  0% {
    scale: 1;
  }

  100% {
    scale: 0.5; 
  }
}

@keyframes move {
  0% {
    left: var(--startPointX, 0);
    top: var(--startPointY, 0);
  }

  100% {
    left: var(--endPointX, 100%);
    top: var(--endPointY, 100%);
  }
}

@keyframes tiltWhileMoving {
  0% {
    translate: -50px;
  }

  100% {
    translate: 50px;
  }
}