.profile-pic-coin {
  position: absolute;

  --size: 150px;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  overflow: hidden;
  transition: 500ms;

  z-index: 1;
  filter: drop-shadow(0 0 5px yellow);
  cursor: pointer;

  img {
    position: absolute;
  }
}

.profile-pic-coin:hover {
  filter: drop-shadow(0 0 20px yellow);
}

.blurring {
  animation: blur 5s linear infinite alternate;
}

@keyframes blur {
  0% {
    opacity: 1;
  }
  
  45% {
    opacity: 1;
  }
  
  55% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}