.profile-pic-coin {
  position: relative;

  --size: 200px;
  width: var(--size);
  height: var(--size);

  border-radius: 50%;
  overflow: hidden;
  
  img {
    position: absolute;
  }
}

.blurring {
  animation: blur 5s linear infinite alternate;
}

@keyframes blur {
  0% {
    opacity: 1;
  }
  
  45% {
    opacity: 1;
  }
  
  55% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}