.profile {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.socials {
  scale: 0;
  transition: 1s
}

.showing-socials {
  scale: 1;
}